article.atas {
    display: flex;
}
article.atas section.image {
    margin-top: 30px;
}
section.profile{
    margin: 0 0 0 20px;
}
section.Category {
    margin-left: auto;
    text-align: end;
}

article.bawah {
    display: flex;
}
article.bawah section.video video {
    width: 400px;
}
article.bawah section.fotobawah {
    margin-left: 30px;
    border: 2px solid black;
}
article.bawah section.fotobawah div img{
    width: 100px;
}
article.bawah section.fotobawah div.atas {
    padding: 10px 10px 0px 10px;
}

article.bawah section.fotobawah div.bawah{
    padding: 0px 10px 0px;
}

fieldset.bagian_pdf {
    margin-left: 40px;
    margin-top: 10px;
    border: 2px solid black;
}