article.atas{
    display: flex;
}

.font{
    text-align: center;
}

.kotak{
    border: 5px double black;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 1000px;
    height: 150px;
    width: 3900px;
}

.border{
    border: 2px double black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 900px;
    width: 5000px;
    font-size: 600%;
}

fieldset{
    border-width: 50px double black;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 100px;
    height: 3000px;
    width: 500px;
    background-color: beige;
}

.yellow{
    border: 5px double black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 350px;
    height: 2000px;
    width: 800px;
    background-color: rgb(226, 226, 58);
}

.Orange{
    border: 5px double black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 100px;
    height: 2000px;
    width: 800px;
    background-color: rgb(241, 96, 0);
}

.green{
    border: 5px double black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 100px;
    height: 2000px;
    width: 800px;
    background-color:rgb(156, 209, 156);
}

.biru{
    border: 5px double black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 100px;
    height: 2000px;
    width: 800px;
    background-color:rgb(132, 175, 216);
} 